<head>
<link rel="stylesheet" type="text/css" href="/css/contacts.css">
<script src="/js/fone_book.js"></script>
<h1>CONTACTS</h1>
</head>
<body>
<div class="new_butn">
<a href='/create_contact'><button>Create a new contact</button></a>
</div>
<form method="post" action="/contacts" id="myform">

<input type="text" id="searchinput" onkeyup="searchfunk()" placeholder="Search for names.." title="Type in a name">
    <table style="width:100%" id="table">
    <div class="table" id="contacts_table">
    <tr>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>STREET</th>
        <th>CITY</th>
        <th>STATE</th>
        <th>ZIP</th>
        <th>PHONE NUMBER</th>
    </tr>
    </div>
    <%contacts.each_with_index do |v, i|%>
        <tr>
        <%v.each do |info|%>
            <td><%=info%></td>
        <%end%>
        <td><div class='update'> <a href='/update'><button type="button" id="up_button" name="up_button">Update</button></a></div></td>
        </tr>
        
    <%end%>
    </table>
    
</form>
</body>