<head>
<link rel="stylesheet" type="text/css" href="/css/contacts.css">
<script src="/js/fone_book.js"></script>
<h1>CONTACTS</h1>
</head>

<body>

<a href='/create_contact'><button>Create a new contact</button></a>

<form method="post" action="/contacts" id="myform">
<input type="text" id="searchinput" onkeyup="searchfunk()" placeholder="Search for names.." title="Type in a name">
    <table style="width:100%" id="table">
    <div class="table" id="contacts_table">
    <tr>
        
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>STREET</th>
        <th>CITY</th>
        <th>STATE</th>
        <th>ZIP</th>
        <th>PHONE NUMBER</th>
        <th>DELETE?</th>
    </tr>
    </div>
    <%contacts.each_with_index do |v, i|%>
        <tr>
        <input type="hidden" name="other_arr[]" id="other_arr" value="<%=other_arr[i]%>">
        <%v.each do |info|%>
            <td><%=info%></td>
        <%end%>
        <td><input type="checkbox" id="delbox" name="delbox"></td>
        </tr>
         
    <%end%>
    </table>
    <button type="button" id="delbutton" name="killbutton" value="[]" onclick="deleteRows();">Delete Selected</button>
</form>

<script>
function deleteRows(){
    var myform = document.getElementById('myform');
    var dubutton = document.getElementById('delbutton');
    var temp = []
	isTable = document.getElementById('table');
	nBoxes = document.getElementsByName('delbox');
    for (var i=nBoxes.length-1; i>=0; i--){
        {if (nBoxes[i].checked == true){temp.push(i+1); dubutton.value = temp;}}
        {if (nBoxes[i].checked == true){isTable.deleteRow(i+1);}}
     console.log(`this is my thing ${dubutton.value}`)
    }
    myform.action = "/delete";
    myform.submit();
}	
</script>

</body>