<head>
<link rel="stylesheet" type="text/css" href="/css/contacts.css">
<script src="/js/fone_book.js"></script>
<h1>CONTACTS</h1>
</head>

<body>

<a href='/create_contact'><button>Create a new contact</button></a>

<form method="post" action="/contacts">
<input type="text" id="searchinput" onkeyup="searchfunk()" placeholder="Search for names.." title="Type in a name">
    <table style="width:100%" id="table">
    <div class="table">
    <tr>
        <th>DELETE?</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>STREET</th>
        <th>CITY</th>
        <th>STATE</th>
        <th>ZIP</th>
        <th>PHONE NUMBER</th>
    </tr>
    </div>
    <%contacts.each do |v|%>
        <tr>
        <td><input type="checkbox" id="delbox" name="delete_contact" onclick="deleteRows();"></td>
        <%v.each do |info|%>
            <td><%=info%></td>
        <%end%>
        </tr>
         
    <%end%>
    </table>
</form>
</body>