<body>
<form method="post" action="/contacts">
    <tr>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>STREET</th>
        <th>CITY</th>
        <th>STATE</th>
        <th>ZIP</th>
        <th>PHONE NUMBER</th>
    </tr>    

    

    
</form>
</body>