<head>
<link rel="stylesheet" type="text/css" href="/css/login.css">
<h1>Phone Book</h1>
</head>

<body>
<div class="eror">
<span style="margin-left: 551px; color: red; font-family: fantasy; font-size: 21px;"><%=error%></span>
</div>
<form method="post" action="/login">
    <input type="text"  name="username" placeholder="Username">
    <input type="password"  name="password"  placeholder="Password">

    <input type="submit" value="Login"><br>

    <a href='/signup'>Sign Up</a>
</form>
</body>