<body>
<form method="post" action="/login">
    <input type="text"  name="username" placeholder="Username">
    <input type="password"  name="password"  placeholder="Password">

    <input type="submit" value="Login"><br>

    <a href='/signup'>Sign Up</a>
</form>
</body>