<head>
<link rel="stylesheet" type="text/css" href="/css/signup.css">
</head>
<body>
<div class="eror">
<span style="margin-left: 551px; color: red; font-family: fantasy; font-size: 21px;"><%=error%></span>
</div>
<form method="post" action="/signup">
    <input type="text"  name="username" placeholder="New Username"><br>
    <input type="password"  name="password"  placeholder="New Password"><br>
    

    <input type="submit" value="Create Account"><br>

</form>
</body>