<body>
<form method="post" action="/login">
    <input type="text"  name="username" placeholder="Create Username"><br>
    <input type="password"  name="password"  placeholder="Password"><br>
    <input type="password"  name="re-password"  placeholder="Re-Enter Password"><br>
    

    <input type="submit" value="Create Account"><br>

</form>
</body>