<body>
<form method="post" action="/signup">
    <input type="text"  name="username" placeholder="Create Username"><br>
    <input type="password"  name="password"  placeholder="Password"><br>
    

    <input type="submit" value="Create Account"><br>

</form>
</body>