<body>
<form method="post" action="/login">
    <input type="text"  name="username" placeholder="Create Username">
    <input type="password"  name="password"  placeholder="Password">
    <input type="password"  name="re-password"  placeholder="Re-Enter Password">

    <input type="submit" value="Create Account"><br>

</form>
</body>