
tr{
    text-align: center;
}

td{
    text-align: center;
}


body{
    background-color: goldenrod;
}

h1{
    color: midnightblue;
    text-align: center;
}

form{
    text-align: center;
}

button{

}


td, th {
    border: 1px solid green;
    text-align: left;
    padding: 8px;
}


tr:nth-child(even) {
    background-color: green;
}

input#searchinput{
    height: 40px;
    width: 324px;
    border-style: outset;
    background-color: black;
    color: orangered;
    font-family: fantasy;
    font-size: 29;
    margin-left: 1vw;
    text-align: center;
}

div.new_butn{
    margin-left: 40vw;
}

button{
    height: 5vw;
    width: 18vw;
    background-color: black;
    color: orangered;
    font-size: 26px;
    font-family: fantasy
}
button#up_button{
    height: 5vw;
    width: 7vw;
    background-color: black;
    color: orangered;
    font-size: 26px;
    font-family: fantasy
}


