
tr{
    text-align: center;
}

td{
    text-align: center;
}


body{
    background-color: goldenrod;
}

h1{
    color: midnightblue;
    text-align: center;
}

form{
    text-align: center;
}

button{

}


td, th {
    border: 1px solid green;
    text-align: left;
    padding: 8px;
}


tr:nth-child(even) {
    background-color: green;
}

input#searchinput{
    height: 40px;
    width: 324px;
    border-style: outset;
    background-color: black;
    color: orangered;
    font-family: fantasy;
    font-size: 29;
    margin-left: 1vw;
    text-align: center;
}

div.new_butn{
    margin-left: 40vw;
}

button{
    height: 5vw;
    width: 18vw;
    background-color: black;
    color: orangered;
    font-size: 26px;
    font-family: fantasy
}
button#mybtn{
    height: 5vw;
    width: 7vw;
    background-color: black;
    color: orangered;
    font-size: 26px;
    font-family: fantasy
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background-color: #e20c0c;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}