


body{
    background-color: lawngreen;
}

h1{
    text-align: center;
}

form{
    text-align: center;
}


input{
    height: 53px;
    width: 265px;
    border-style: outset;
    background-color: black;
    color: red;
    font-family: fantasy;
    font-size: 29;
}

