
body{
    background-color: lawngreen;
}

h1{
    text-align: center;
}

form{
    text-align: center;
    width: 22%;
    height: 49%;
    margin-left: 39vw;
}

input{
    height: 100px;
    width: 265px;
    border-style: outset;
    background-color: black;
    color: rgb(228, 74, 19);
    font-family: fantasy;
    font-size: 29;
}

a {
    background-color: black;
    color: white;
    border-style: outset;
    padding: 1em 6.2em;
    text-decoration: none;
    text-transform: uppercase;
  }

a:hover{
    color:black;
    background-color: white;
}

  