
body{
    background-color: goldenrod;
}

h1{
    color: midnightblue;
    text-align: center;
}

form{
    text-align: center;
}

input{
    height: 100px;
    width: 265px;
    border-style: outset;
    background-color: black;
    color: orangered;
    font-family: fantasy;
    font-size: 29;
}

